## <summary>qubes-core-agent policy</summary>
## <desc>
##	<p>
##		Policy for qubes-core-agent (RPC backdoor) and related
##		utilities.
##	</p>
## </desc>


###############################
## <summary>
##	Run qrexec-client-vm in qrexec-client-vm_t
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition.
##	</summary>
## </param>

interface(`qrexec_client_vm_domtrans',`

	gen_require(`

		type qrexec-client-vm_t;
		type qrexec-client-vm_exec_t;
	')

	qubes_core_search_qubes_rpc_worker_exec($1)
	allow $1 qrexec-client-vm_exec_t : lnk_file read;
	domtrans_pattern($1, qrexec-client-vm_exec_t, qrexec-client-vm_t)
')


###############################
## <summary>
##	Write to qrexec-agent socket.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit write.
##	</summary>
## </param>

interface(`qubes_core_write_var_run_sock_file',`

	gen_require(`
	
		type qubes_var_run_t;
	')

	qubes_core_search_qubes_var_run($1)

	allow $1 qubes_var_run_t : sock_file write;
')


###############################
## <summary>
##	Send sigchld to qrexec-client-vm_t.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit send.
##	</summary>
## </param>

interface(`qubes_core_sigchld_qrexec_client_vm',`

	gen_require(`

		type qrexec-client-vm_t;
	')

	allow $1 qrexec-client-vm_t : process sigchld;
')


###############################
## <summary>
##	Run qrexec-client-vm in a specified domain.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition.
##	</summary>
## </param>
## <param name="target_domain">
##	<summary>
##		Domain to transition to.
##	</summary>
## </param>

interface(`qubes_core_qrexec_client_vm_domtrans',`

	gen_require(`

		type qrexec-client-vm_exec_t;
	')

	qubes_core_search_qubes_rpc_worker_exec($1)
	allow $1 qrexec-client-vm_exec_t : lnk_file read;
	domtrans_pattern($1, qrexec-client-vm_exec_t, $2)
')


###############################
## <summary>
##	<p>
##		Use qrexec-client-vm as an entry point.
##	</p>
##	<p>
##		qrexec-client-vm is used for userland to RPC calls.
##		Use this interace to separate permissions for different
##		applications.
##	</p>	
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit entry to.
##	</summary>
## </param>

interface(`qubes_core_qrexec_client_vm_entry_type',`

	gen_require(`

		type qrexec-client-vm_exec_t;
	')

	domain_entry_file($1, qrexec-client-vm_exec_t)
')


###############################
## <summary>
##	Inherit qrexec-client-vm_t fds
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit inheritance.
##	</summary>
## </param>

interface(`qubes_core_use_qrexec_client_vm_fds',`

	gen_require(`

		type qrexec-client-vm_t;
	')

	allow $1 qrexec-client-vm_t : fd use;
')


###############################
## <summary>
##	Transition to qrexec-client-vm_worker_t
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition.
##	</summary>
## </param>

interface(`qubes_core_qrexec_client_vm_worker_transition',`

	gen_require(`

		type qrexec-client-vm_worker_t;
	')

	corecmd_bin_domtrans($1, qrexec-client-vm_worker_t)
')


###############################
## <summary>
##	Search /rw
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit search.
##	</summary>
## </param>

interface(`qubes_core_search_qubes_persistent',`

	gen_require(`

		type qubes_persistent_t;
	')

	allow $1 qubes_persistent_t : dir search;
')


###############################
## <summary>
##	Search /rw/config
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit search.
##	</summary>
## </param>

interface(`qubes_core_search_qubes_persistent_config',`

	gen_require(`

		type qubes_persistent_config_t;
	')

	qubes_core_search_qubes_persistent($1)

	allow $1 qubes_persistent_config_t : dir search;
')


###############################
## <summary>
##	Send sigchld to qrexec-agent_su_t.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit sigchld.
##	</summary>
## </param>

interface(`qubes_core_sigchld_qrexec_agent_su',`

	gen_require(`

		type qrexec-agent_su_t;
	')

	allow $1 qrexec-agent_su_t : process sigchld;
')


###############################
## <summary>
##	Bluepill appvm by hiding locale.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to suppress audit logs.
##	</summary>
## </param>

interface(`qubes_core_bluepill_locale',`

	gen_require(`

		type locale_t;
	')

	tunable_policy(`qubes_bluepill_timezone',`

		dontaudit $1 locale_t : dir search_dir_perms;

		# (localtime)
		#
		dontaudit $1 locale_t : file read_file_perms;
	')

	tunable_policy(! `qubes_bluepill_timezone',`

		miscfiles_read_localization($1)
	')
')


###############################
## <summary>
##	Search /run/qubes-service
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit search.
##	</summary>
## </param>

interface(`qubes_core_search_qubes_service_var_run',`

	gen_require(`

		type qubes-service_var_run_t;
	')

	allow $1 qubes-service_var_run_t : dir search_dir_perms;
')


###############################
## <summary>
##	<p>
##		Check read permission on files under /run/qubes-service/
##	</p>
##	<p>
##		Typically this would be used by init scripts.
##	</p>
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit check.
##	</summary>
## </param>

interface(`qubes_core_read_inherited_qubes_service_var_run',`

	qubes_core_search_qubes_service_var_run($1)

	allow $1 qubes-service_var_run_t : file read;
')


###############################
## <summary>
##	Transition to setup-ip_t
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition.
##	</summary>
## </param>

interface(`qubes_core_setup_ip_domtrans',`

	gen_require(`

		type setup-ip_t;
		type setup-ip_exec_t;
	')

	qubes_core_search_qubes_rpc_worker_exec($1)
	domtrans_pattern($1, setup-ip_exec_t, setup-ip_t)
')


###############################
## <summary>
##	Transition to setup-ip_t without promiscuous IPC
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition.
##	</summary>
## </param>

interface(`qubes_core_setup_ip_auto_domtrans',`

	gen_require(`

		type setup-ip_t;
		type setup-ip_exec_t;
	')

	qubes_core_search_qubes_rpc_worker_exec($1)
	domain_transition_pattern($1, setup-ip_exec_t, setup-ip_t)
')


###############################
## <summary>
##	Search qubes log dir.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit search.
##	</summary>
## </param>

interface(`qubes_core_search_qubes_log',`

	gen_require(`

		type qubes_log_t;
	')

	logging_search_logs($1)

	allow $1 qubes_log_t : dir search;
')


###############################
## <summary>
##	Transition file type in the qubes log dir.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit filetrans.
##	</summary>
## </param>
## <param name="private type">
##	<summary>
##		Type to transition to.
##	</summary>
## </param>
## <param name="object">
##	<summary>
##		Class of file.
##	</summary>
## </param>
## <param name="name">
##	<summary>
##		Name of file.
##	</summary>
## </param>

interface(`qubes_core_qubes_log_filetrans',`

	qubes_core_search_qubes_log($1)
	filetrans_add_pattern($1, qubes_log_t, $2, $3, $4)
')


###############################
## <summary>
##	Read and write qrexec-agent unix sockets.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read and write.
##	</summary>
## </param>

interface(`qubes_core_stream_connect_qrexec_agent',`

	gen_require(`

		type qrexec-agent_t;
	')

	allow $1 qrexec-agent_t : unix_stream_socket connectto;
')


###############################
## <summary>
##	Read and write qrexec-agent unix sockets.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read and write.
##	</summary>
## </param>

interface(`qubes_core_rw_qrexec_agent_stream_sockets',`

	gen_require(`

		type qrexec-agent_t;
	')

	allow $1 qrexec-agent_t : unix_stream_socket { read write };
')


###############################
## <summary>
##	Read and write qrexec-agent-client-vm unix sockets.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read and write.
##	</summary>
## </param>

interface(`qubes_core_rw_qrexec_client_vm_stream_sockets',`

	gen_require(`

		type qrexec-client-vm_t;
	')

	allow $1 qrexec-client-vm_t : unix_stream_socket { read write };
')


###############################
## <summary>
##	Search Qubes RPC config dir.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit search.
##	</summary>
## </param>

interface(`qubes_core_search_qubes_rpc_etc',`

	gen_require(`

		type qubes_rpc_etc_t;
	')

	files_search_etc($1)

	allow $1 qubes_rpc_etc_t : dir search;
')


###############################
## <summary>
##	getattr Qubes RPC config files.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit getattr.
##	</summary>
## </param>

interface(`qubes_core_getattr_qubes_rpc_etc',`

	qubes_core_search_qubes_rpc_etc($1)

	allow $1 qubes_rpc_etc_t : file getattr;
')


###############################
## <summary>
##	Read and open Qubes RPC config files.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read.
##	</summary>
## </param>

interface(`qubes_core_read_qubes_rpc_etc',`

	qubes_core_search_qubes_rpc_etc($1)

	allow $1 qubes_rpc_etc_t : file { read open };
')


###############################
## <summary>
##	Search qubes_rpc_worker
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit search.
##	</summary>
## </param>

interface(`qubes_core_search_qubes_rpc_worker_exec',`

	gen_require(`

		type qubes_rpc_worker_exec_t;
	')

	corecmd_search_bin($1)
	allow $1 qubes_rpc_worker_exec_t : dir search_dir_perms;
')


###############################
## <summary>
##	Search QubesIncoming.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit search.
##	</summary>
## </param>

interface(`qubes_core_search_qubes_shared_home',`

	gen_require(`

		type qubes_shared_home_t;
	')

	userdom_search_user_home_dirs($1)

	allow $1 qubes_shared_home_t : dir search_dir_perms;
')


###############################
## <summary>
##	List QubesIncoming.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit list.
##	</summary>
## </param>

interface(`qubes_core_list_qubes_shared_home',`

	qubes_core_search_qubes_shared_home($1)

	allow $1 qubes_shared_home_t : dir read;
')


###############################
## <summary>
##	Bind mount and unmount on QubesIncoming.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit bind.
##	</summary>
## </param>

interface(`qubes_core_bind_shared_home_files',`

	fs_unmount_xattr_fs($1)

	qubes_core_search_qubes_shared_home($1)

	allow $1 qubes_shared_home_t : dir mounton;
')


###############################
## <summary>
##	Create QubesIncoming files.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit create.
##	</summary>
## </param>

interface(`qubes_core_create_qubes_shared_home_files',`

	qubes_core_search_qubes_shared_home($1)

	allow $1 qubes_shared_home_t : dir create_dir_perms;
	create_files_pattern($1, qubes_shared_home_t, qubes_shared_home_t)
')


###############################
## <summary>
##	Link QubesIncoming files
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit link.
##	</summary>
## </param>

interface(`qubes_core_link_qubes_shared_home_files',`

	qubes_core_search_qubes_shared_home($1)

	allow $1 qubes_shared_home_t : file link;
')


###############################
## <summary>
##	getattr QubesIncoming files
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit getattr.
##	</summary>
## </param>

interface(`qubes_core_getattr_qubes_shared_home_files',`

	qubes_core_search_qubes_shared_home($1)

	allow $1 qubes_shared_home_t : file getattr_file_perms;
')


###############################
## <summary>
##	setattr QubesIncoming files
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit setattr.
##	</summary>
## </param>

interface(`qubes_core_setattr_qubes_shared_home_files',`

	qubes_core_search_qubes_shared_home($1)

	allow $1 qubes_shared_home_t : file setattr;
')


###############################
## <summary>
##	Read QubesIncoming files
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read.
##	</summary>
## </param>

interface(`qubes_core_read_qubes_shared_home_files',`

	qubes_core_search_qubes_shared_home($1)

	allow $1 qubes_shared_home_t : file read_file_perms;
')


###############################
## <summary>
##	Write QubesIncoming files
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit write.
##	</summary>
## </param>

interface(`qubes_core_write_qubes_shared_home_files',`

	qubes_core_search_qubes_shared_home($1)

	allow $1 qubes_shared_home_t : file write;
')


###############################
## <summary>
##	Write to qubes-rpc stderror fifo.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit write.
##	</summary>
## </param>

interface(`qubes_core_write_qubes_rpc_stderror',`

	gen_require(`

		type qubes_rpc_stderror_t;
	')

	allow $1 qubes_rpc_stderror_t : fifo_file write;
')


###############################
## <summary>
##	Write to qubes-rpc stderror fifo inherited from qrexec-multiplexer.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit write.
##	</summary>
## </param>

interface(`qubes_core_write_inherited_qubes_rpc_stderror',`

	qubes_core_use_qubes_rpc_multiplexer_fds($1)
	qubes_core_write_qubes_rpc_stderror($1)
')


###############################
## <summary>
##	Inherit qrexec-agent fds
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit inheritance.
##	</summary>
## </param>

interface(`qubes_core_use_qrexec_agent_fds',`

	gen_require(`

		type qrexec-agent_t;
	')

	allow $1 qrexec-agent_t : fd use;
')


###############################
## <summary>
##	Write to qrexec-agent pipes.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit write.
##	</summary>
## </param>

interface(`qubes_core_write_qrexec_agent_pipes',`

	gen_require(`

		type qrexec-agent_t;
	')

	allow $1 qrexec-agent_t : fifo_file write;
')


###############################
## <summary>
##	Write to inherited qrexec-agent pipes.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit write.
##	</summary>
## </param>

interface(`qubes_core_write_inherited_qrexec_agent_pipes',`

	qubes_core_use_qrexec_agent_fds($1)
	qubes_core_write_qrexec_agent_pipes($1)
')


###############################
## <summary>
##	Read and write to qrexec-agent pipes.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read and write.
##	</summary>
## </param>

interface(`qubes_core_rw_qrexec_agent_pipes',`

	qubes_core_write_qrexec_agent_pipes($1)

	allow $1 qrexec-agent_t : fifo_file read;
')


###############################
## <summary>
##	Read and write to inherited qrexec-agent pipes.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read and write.
##	</summary>
## </param>

interface(`qubes_core_rw_inherited_qrexec_agent_pipes',`

	qubes_core_use_qrexec_agent_fds($1)
	qubes_core_rw_qrexec_agent_pipes($1)
')


###############################
## <summary>
##	ioctl qrexec-agent pipes.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit ioctl.
##	</summary>
## </param>

interface(`qubes_core_ioctl_qrexec_agent_pipes',`

	gen_require(`

		type qrexec-agent_t;
	')

	allow $1 qrexec-agent_t : fifo_file ioctl;
')


###############################
## <summary>
##	Read, write, and ioctl inherited qrexec-agent pipes.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read, write, and ioctl.
##	</summary>
## </param>

interface(`qubes_core_rwi_inherited_qrexec_agent_pipes',`

	qubes_core_use_qrexec_agent_fds($1)
	qubes_core_rw_qrexec_agent_pipes($1)
	qubes_core_ioctl_qrexec_agent_pipes($1)
')


###############################
## <summary>
##	Inherit qrexec-agent fds
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit inheritance.
##	</summary>
## </param>

interface(`qubes_core_use_qrexec_agent_fds',`

	gen_require(`

		type qrexec-agent_t;
	')

	allow $1 qrexec-agent_t : fd use;
')


###############################
## <summary>
##	Inherit qrexec-agent_sh_t fds.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit inheritance.
##	</summary>
## </param>

interface(`qubes_core_use_qrexec_agent_sh_fds',`

	gen_require(`

		type qrexec-agent_sh_t;
	')

	allow $1 qrexec-agent_sh_t : fd use;
')


###############################
## <summary>
##	Search qubes run dir.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit search.
##	</summary>
## </param>

interface(`qubes_core_search_qubes_var_run',`

	gen_require(`

		type qubes_var_run_t;
		type var_run_t;
	')

	files_search_var($1)

	allow $1 var_run_t : dir search;
	allow $1 qubes_var_run_t : dir search;
')


###############################
## <summary>
##	Permit creation of regular files in /run/qubes.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit create.
##	</summary>
## </param>

interface(`qubes_core_create_qubes_var_run_files',`

	qubes_core_search_qubes_var_run($1)

	create_files_pattern($1, qubes_var_run_t, qubes_var_run_t)
')


###############################
## <summary>
##	<p>
##		Permit write of regular files in /run/qubes.
##	</p>
##	<p>
##		Note that regular files appear to be limited
##		to pid files, so one type for all daemons should
##		be relatively safe.
##	</p>
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit write.
##	</summary>
## </param>

interface(`qubes_core_write_qubes_var_run_files',`

	qubes_core_search_qubes_var_run($1)

	allow $1 qubes_var_run_t : file write;
')


###############################
## <summary>
##	<p>
##		Permit read and open of regular files in /run/qubes.
##	</p>
##	<p>
##		Note that regular files appear to be limited
##		to pid files, so one type for all daemons should
##		be relatively safe.
##	</p>
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit read.
##	</summary>
## </param>

interface(`qubes_core_read_qubes_var_run_files',`

	qubes_core_search_qubes_var_run($1)

	allow $1 qubes_var_run_t : file { read open };
')


###############################
## <summary>
##	Permit deletion of regular files in /run/qubes.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit deletion.
##	</summary>
## </param>

interface(`qubes_core_delete_qubes_var_run_files',`

	qubes_core_search_qubes_var_run($1)

	delete_files_pattern($1, qubes_var_run_t, qubes_var_run_t)
')


###############################
## <summary>
##	Inherit qubes-rpc-multiplexer fds.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit inheritance.
##	</summary>
## </param>

interface(`qubes_core_use_qubes_rpc_multiplexer_fds',`

	gen_require(`

		type qubes-rpc-multiplexer_t;
	')

	allow $1 qubes-rpc-multiplexer_t : fd use;
')


###############################
## <summary>
##	Transition to qubes-trigger-sync-appmenus_t
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition from.
##	</summary>
## </param>

interface(`qubes_core_qubes_trigger_sync_appmenus_domtrans',`

	gen_require(`

		type qubes-trigger-sync-appmenus_t;
		type qubes-trigger-sync-appmenus_exec_t;
	')

	qubes_core_search_qubes_rpc_worker_exec($1)
	domtrans_pattern($1, qubes-trigger-sync-appmenus_exec_t, qubes-trigger-sync-appmenus_t)
')


###############################
## <summary>
##	Permit role to sync app menus.
## </summary>
## <param name="role">
##	<summary>
##		Role to assign types.
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##		Domain to permit transition from.
##	</summary>
## </param>

interface(`qubes_core_qubes_trigger_sync_appmenus_role',`

	gen_require(`

		type qubes-trigger-sync-appmenus_worker_t;
		type qubesdb-cmd_t;
		type sync-appmenus_qrexec-client-vm_t;
		type sync-appmenus_qrexec-client-vm_sh_t;
		type sync-appmenus_qrexec-client-vm_sh_awk_t;
		type sync-appmenus_qrexec-client-vm_sh_worker_t;

	')

	role $1 types { qubes-trigger-sync-appmenus_t qubes-trigger-sync-appmenus_worker_t qubesdb-cmd_t sync-appmenus_qrexec-client-vm_t sync-appmenus_qrexec-client-vm_sh_t sync-appmenus_qrexec-client-vm_sh_awk_t sync-appmenus_qrexec-client-vm_sh_worker_t };

	qubes_core_qubes_trigger_sync_appmenus_domtrans($2)
')


###############################
## <summary>
##	Transition to qubesdb_t
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition from.
##	</summary>
## </param>

interface(`qubes_core_qubesdb_domtrans',`

	gen_require(`

		type qubesdb_t;
		type qubesdb_exec_t;
	')

	domtrans_pattern($1, qubesdb_exec_t, qubesdb_t)
')


###############################
## <summary>
##	Transition to qubesdb-cmd_t. Use qubes_core_qubesdb_cmd_auto_domtrans instead.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition from.
##	</summary>
## </param>

interface(`qubes_core_qubesdb_cmd_domtrans',`

	gen_require(`

		type qubesdb-cmd_t;
		type qubesdb-cmd_exec_t;
	')

	corecmd_search_bin($1)

	allow $1 qubesdb-cmd_exec_t : lnk_file read;

	domtrans_pattern($1, qubesdb-cmd_exec_t, qubesdb-cmd_t)
')


###############################
## <summary>
##	Transition to qubesdb-cmd_t without promiscuous IPC permissions.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition from.
##	</summary>
## </param>

interface(`qubes_core_qubesdb_cmd_auto_domtrans',`

	gen_require(`

		type qubesdb-cmd_t;
		type qubesdb-cmd_exec_t;
	')

	corecmd_search_bin($1)

	allow $1 qubesdb-cmd_exec_t : lnk_file read;

	domain_auto_transition_pattern($1, qubesdb-cmd_exec_t, qubesdb-cmd_t)
')


###############################
## <summary>
##	Transition to qvm domains.
## </summary>
## <param name="domain">
##	<summary>
##		Domain to permit transition from.
##	</summary>
## </param>

interface(`qubes_core_qvm_domtrans',`

	gen_require(`

		type qvm_t;
		type qvm-copy-to-vm_t;
		type qvm-copy-to-vm_exec_t;
		type qvm_exec_t;
	')

	domtrans_pattern($1, qvm_exec_t, qvm_t)
	domtrans_pattern($1, qvm-copy-to-vm_exec_t, qvm-copy-to-vm_t)

	qubes_core_list_qubes_shared_home($1)
')


###############################
## <summary>
##	Permit role to use qvm utilities.
## </summary>
## <param name="role">
##	<summary>
##		Role to assign types.
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##		Domain to permit transition from.
##	</summary>
## </param>

interface(`qubes_core_qvm_role',`

	gen_require(`

		type qfile-agent_t;
		type qrexec-client-vm_t;
		type qvm-copy-to-vm_worker_t;
	')

	qubes_core_qvm_domtrans($2)

	role $1 types { qfile-agent_t qrexec-client-vm_t qvm_t qvm-copy-to-vm_t qvm-copy-to-vm_worker_t };

	allow qfile-agent_t $2 : process sigchld;
	allow qrexec-client-vm_t $2 : process sigchld;
')
